{% extends "laite/laite_base.html" %}


{% block laite_content %}

<div class="container">

    
    <form method="post">
        
        <h4>Haluatko varmasti poistaa oheislaitteen: {{oheislaite}} ?</h4>
        <p>Liitetty laitteeseen {{oheislaite.laite}} ({{oheislaite.laite.juttu}})</p>

        {% csrf_token %}
        <input type="submit" value="Poista" class="btn btn-danger">
        <a href="{% url 'juttu:jutun_laitteet' pk=oheislaite.laite.juttu.pk %}" class="btn btn-ligth">Peruuta</a>

    </form>

</div>
    
{% endblock laite_content %}