{% extends "laite/laite_base.html" %}
{% load bootstrap3 %}

{% block laite_content %}

    <div class="container-fluid">


        <form class="form" action="" method="post">
            {% csrf_token %}
            <h4>Oheislaite</h4>
            {% bootstrap_form form layout="horizontal" %}

            {% buttons %}
            <button type="submit" class="btn btn-primary">Vahvista</button>
            <button class="btn btn-link" onclick="javascript:history.back();">Peruuta</button>
            {% endbuttons %}
        </form>

    </div>
{% endblock laite_content %}