{% extends 'base.html' %}
{% block content %}

<h1>STATISTIIKKA</h1>
{% for juttu in jutut %}
<p>Tutkintarymhat: {{juttu.ryhma}}</p>
count: {{ forloop.counter }}
{% endfor %}


<p>kaikki jutut: {{jutut.count}} kpl</p>
<p>kaikki laitteet: {{laites.count}} kpl</p>

<canvas id="myChart" width="200" height="60"></canvas>
<script>
var tutkintaRymhat = []
var juttuja_per_tutkintaryhma = []
{% for tr in tutkintarymhat %}
tutkintaRymhat.push("{{tr}}");
{% endfor %}

{% for j in jutut %}

    {% for tutkr in tutkintarymhat %}
        {% if tutkr.id == j.ryhma_id %}
            juttuja_per_tutkintaryhma.push({{foorloop.counter}})
        {% endif %}

    {% endfor %}

{% endfor %}
juttuja_per_tutkintaryhma.push(10);

var ctx = document.getElementById('myChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: tutkintaRymhat, 
        datasets: [{
            label: '# juttuja / tutkintaryhmä / vuosi',
            //data: [3, 19, 3, 5, 2, 3],
            data: juttuja_per_tutkintaryhma,
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});


</script>


<canvas id="myChart2" width="200" height="60"></canvas>


<script>

var ctx = document.getElementById('myChart2').getContext('2d');
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'line',

    // The data for our dataset
    data: {
        labels: ['January', 'February', 'March', 'April', 'May', 'June', 'July'],
        datasets: [{
            label: 'Laitemäärä / kk / vuosi',
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            data: [0, 10, 5, 2, 20, 30, 45]
        }]
    },

    // Configuration options go here
    options: {}
});


</script>


{% endblock content %}